main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  position: relative;
  width: 768px;
  height: 480px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #a0a0a0;
  overflow: hidden;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
  transition: all 1s;
  background-color: #FDE3A8;
  gap: 5px;
}

.form-signup {
  transform: translateX(-100%);
  z-index: -1;
  opacity: 0;
}

.login-container.move .form-login {
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;
}

.login-container.move .form-signup {
  transform: translateX(0%);
  z-index: initial;
  opacity: 1;
}

img{
  width: 40%;
  margin-bottom: 1rem;
}

.form-title {
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
}

.form-title-white {
  color: #ffffff;
}

.form-text{
  font-size:1.15rem;
}

.form-text-white{
  color: #ffffff;
  font-size: 1.15rem;
}

.form-link:hover {
  text-decoration: underline;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inp-box {
  position: relative;
}

.form-inp {
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 12px;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.form-btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 50px;
  border: 2px solid #F27649;
  background-color: transparent;
  color: #F27649;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s;
}

.form-btn:hover {
  background-color: #F27649;
  color: #ffffff;
}

.form-btn-white {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #1190CB;
}

.form-btn-white:hover {
  background-color: transparent;
  color: #ffffff;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  text-align: center;
  transform: translateX(100%);
  transition: all 1s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 41px;
  transition: all 1s;
  background: rgb(17,144,203);
background: linear-gradient(25deg, rgba(17,144,203,1) 20%, rgba(242,118,73,1)   82%);
}

.login-container.move .overlay:nth-child(2) {
  z-index: -1;
  opacity: 0;
}

.login-container.move .overlay-container {
  transform: translateX(0%);
}

.mobile-text {
  display: none;
}

.mobile-text a {
  text-decoration: underline;
  font-weight: 900;
}

@media (max-width: 768px) {
  .login-container {
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    border-radius: 0  ;
  }

  .form {
    width: 100%;
    justify-content: space-evenly;
  }

  .form-signup {
    position: absolute;
    background-color: #FDE3A8;
    color: #000000;
    transform: translateX(100%);
  }

  .login-container.move .form-signup {
    transform: translate(0%);
  }

  .form-signup .form-btn {
    background-color: transparent;
    color: #F27649;
    border: 2px solid #F27649;
  }

  .form-signup .form-btn:hover {
    background-color: #F27649;
    color: #ffffff;
  }

  .overlay-container {
    display: none;
  }

  .mobile-text {
    display: block;
  }
  .mobile-text a {
    color: inherit;
  }
}
